/* Scss Document */

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lobster);
/* CSS Document */

body {
    background-color: rgba(0, 149, 133, 0.5);
    margin: 10px;
}

/*opmaak navigatiebar*/
#logo {
    max-width: 100%;
}
.navbar ul {
    text-decoration: none;
    float: left;
}
.navbar li {
    float: left;
    margin-right: 25px;
    list-style-type: none;
 
}
.navbar-brand {
    width: 14%;
}
.nav-link {
    font-size: 1em;
    height: 100px;
    line-height: 100px;
}


//menu logo verdwijnt bij hamburger
@media (max-width: 765px) {
    
    #logo{display:none;
    }

.navbar ul {
    text-decoration: none;
    clear:both;
}
.navbar li {
   clear:both;
}
.navbar-brand {
   clear:both;
}
.nav-link {
   clear:both;
    }
}
article {
    margin-left: 15px;
    margin-right: 15px;
}

section {
    display: block;
}

aside {
    color: rgba(0, 0, 0, 0.5);
    font-size: 200%;
    width: 40%;
    float: left;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 0;
}
aside::before {
    content: "\“";
    font-size: 200%;
    margin-left: -30px;
}

h1 {
    float: none;
}

/*opmaak footer*/
.footer {
    background-color: lightgrey;
    line-height: 60px;
    margin-top: 90px;
    border: solid 5px transparent;
}
.naarboven {
    border: solid 2px blue;
    float: right;
}

header h1 {
	font-family: 'Lobster' , serif;
}