/* Scss Document */

$gray-dark:                 red !default;
$gray:                      yellow !default;
$gray-light:                green !default;
$gray-lighter:              blue !default;
$gray-lightest:             purple !default;

$font-family-sans-serif:     verdana, sans-serif !default;