/* Scss Document */
@charset "utf-8";
/* CSS Document */

body {
	background-color: rgba(0,149,133,0.5);
	margin:10px;
}

#inhoud {
	background-color: white;
	color: black;
    width: 80%;
    margin-left: 10%;
    margin-top: 0%;
}

#logo {
  width: 100%; }

.navbar ul {
  text-decoration: none;
  float: left; }

.navbar li {
  float: left;
  margin-right: 20px;
  list-style-type: none;
   }

.navbar-brand {
  width: 15%; }
.nav-link{
    font-size:1.3em;
    height: 100px;
    line-height: 100px;
}

section {
	display:block;
}



aside{
    color : rgba(0,0,0,0.5);
    font-size: 200%;
    width: 45%;
    float: left;
    margin-top: 175px;
    margin-left: 30px;
  
}
aside::before{content: "\“";
font-size: 200%;
margin-left: -30px;}
article{margin-left: 15px;
margin-right: 15px;}

h1{
    float:none;
}


/*animatie pagina voeding*/
@keyframes verdwijnen { /*die "draaien" kies je zelf als naam*/
	to{
    transform:translate(-500px,0px)
	}
} /*keyframes zijn de sleutelpunten in je animatie hier is dat dus enkel het ronddraaien*/

.cupcake:hover {
	animation-name:verdwijnen;
	animation-duration:4s;
	animation-timing-function:linear;
	animation-iteration-count:1;
  
}


