@charset "utf-8";
/* CSS Document */

$kleurstokman: #333333;

$kleurTonen: seagreen;
$kleurVerbergen: #cc0000;

body {
  background: white;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  perspective: 600px;

}


/*volledige animatie uitlijnen*/
.animatie {
	padding: 20px;
	margin:20px;
	position: relative;
	align-content: center;
}

/*wereld: positie in de div*/
section.wereld {
  position: relative;
  width: 500px;
  height: 240px;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  box-shadow: 0 16px 10px -10px green;
  transform: translate(-50%, 0%);
}
section.wereld div {
  position: absolute;
  background: transparent;
  border-radius: 2px;
}

/*algemene opmaak van gebouw*/
.gebouw {
  bottom: 0;
  right: -40%;
  background: rgba(0,0,0,0.50) !important;
}

/*opmaak van volgende gebouwen*/
.gebouw.een {
  width: 30%;
  height: 8%;
  animation: elem 2.6s linear infinite;
}

.gebouw.twee {
  width: 40%;
  height: 16%;
  animation: elem 3.3s linear infinite 1.6s;
}

.gebouw.drie {
  width: 7%;
  height: 24%;
  animation: elem 2.2s linear infinite 1s;
}

.gebouw.vier {
  width: 18%;
  height: 13%;
  animation: elem 2.8s linear infinite 0.2s;
}

/*opmaak van grond in algemeen*/
.grond {
	background:green;
	width: 100%;
	height: 4px;
  	bottom: 0;
}

/*opmaak van gras*/
.grond .gras {
	background:green;
  	width: 2px;
  	bottom: 0;
  	right: -2px;
}

/*opmaak van elke deel gras appart*/
.grond .gras.een {
  height: 15px;
  animation: elem 3s linear infinite;
}
.grond .gras.twee {
  height: 10px;
  animation: elem 3.3s linear infinite 0.2s;
}
.grond .gras.drie {
  height: 18px;
  animation: elem 2.5s linear infinite 0.4s;
}
.grond .gras.vier {
  height: 5px;
  animation: elem 2.9s linear infinite 0.6s;
}
.grond .gras.vijf {
  height: 7px;
  animation: elem 3s linear infinite 0.8s;
}
.grond .gras.zes {
  height: 10px;
  animation: elem 3.1s linear infinite 1s;
}
.grond .gras.zeven {
  height: 4px;
  animation: elem 3s linear infinite 1.2s;
}
.grond .gras.acht {
  height: 7px;
  animation: elem 3s linear infinite 1.4s;
}
.grond .gras.negen {
  height: 10px;
  animation: elem 3.1s linear infinite 1.6s;
}
.grond .gras.tien {
  height: 6px;
  animation: elem 3s linear infinite 1.8s;
}

/*opmaak wolk in algemeen*/
.wolk {
  height: 20px;
  right: -160px;
  background: #91D9EB !important;
}

/*opmaak wolken appart*/
.wolk.een {
  width: 90px;
  top: 50px;
  border-radius:20%;
  animation: wolk 3s linear infinite;
}

.wolk.twee {
  width: 60px;
  top: 20px;
  border-radius:20%;
  animation: wolk 2.6s linear infinite 0.5s;
}

.wolk.drie {
  width: 110px;
  top: 110px;
  border-radius:20%;
  animation: wolk 3.2s linear infinite 1s;
}


/*opmaak stokman*/
.stokman {
  width: 6px;
  height: 30px;
  bottom: 30px;
  left: 50%;
  background: $kleurstokman;
  border-radius: 3px;
  animation: stokman 3s ease-in-out infinite;
}
.stokman div {
  transform-origin: 50% 0%;

}
.stokman .links {
  z-index: -1;
}
.stokman .rechts {
  z-index: 1;
}
.stokman .hoofd {
  width: 12px;
  height: 12px;
  background: $kleurstokman;
  border-radius: 50%;
  transform: translate(-3px, -14px);
}

.stokman .lichaam {
	width:4px;
	height:30px;
	background: $kleurstokman;
}

.stokman .arm {
  width: 4px;
  height: 14px;
  background: $kleurstokman;
  top: 1px;
  left: 1px;
}
.stokman .arm .beneden {
  width: 4px;
  height: 12px;
  background: $kleurstokman;
  bottom: -10px;
}
.stokman .been {
  width: 4px;
  height: 20px;
  background: $kleurstokman;
  bottom: -19px;
  left: 1px;
}
.stokman .been .beneden {
  width: 4px;
  height: 15px;
  background: $kleurstokman;
  bottom: -13px;
}

.arm.links {
  animation: loop 1s linear infinite;
}
.arm.links .beneden {
  animation: arm-beneden 0.5s linear infinite;
}

.arm.rechts {
  animation: loop 1s linear infinite 0.5s;
}
.arm.rechts .beneden {
  animation: arm-beneden 0.5s linear infinite 0.5s;
}

.been.links {
  animation: loop 1s linear infinite;
}
.been.links .beneden {
  animation: been-beneden 1s linear infinite;
}

.been.rechts {
  animation: loop 1s linear infinite 0.5s;
}
.been.rechts .beneden {
  animation: been-beneden 1s linear infinite 0.5s;
}


/*opmaak hamburger*/
.hamburger {
	background-color:white;
	margin: 0 auto;
	padding-top: 27%;
	animation: spring 3s linear infinite 1.8s;

}
.hamburger .broodje {
  background-image: linear-gradient(orange, darkorange);
  width: 120px;
  height: 25px;
  border-radius: 90px 90px 0 0;
  margin: 0 auto;
  display: block;
  border-bottom: 4px solid orange;
}
.hamburger .onder {
  border-radius: 0 0 90px 90px !important;
  border-top: 4px solid darkorange;
  border-bottom: neen;
}
.hamburger .sla, .hamburger .tomaat, .hamburger .kaas, .hamburger .vlees {
  background: YellowGreen;
  width: 140px;
  height: 5px;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
}
.hamburger .tomaat {
  background: OrangeRed;
  width: 120px;
  height: 10px;
}
.hamburger .kaas {
  background: Gold;
  height: 8px;
}
.hamburger .vlees {
  background: FireBrick;
  height: 20px;
}


@keyframes spring {
	0% {
		transform: translateY(-40px);
	}
	50% {
		transform:translateY(-0px);
	}
	100% {
		transform:translateY(-40px);
	}
}

@keyframes wolk {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-760px);
  }
}
@keyframes elem {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-640px);
  }
}
@keyframes stokman {
  0%, 100% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-60px);
  }
  70% {
    transform: translateX(20px);
  }
}
@keyframes loop {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(-60deg);
  }
}
@keyframes arm-beneden {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
}
@keyframes been-beneden {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(120deg);
  }
}

/*button css*/
/*opmaak voor knop tonen*/
#tonen{background-color: $kleurTonen;
color:white;
border-bottom: 5px solid $kleurTonen;
text-shadow: 0px -1px #006600;
}

/*opmaak voor knop verbergen*/
#verberg{background-color: $kleurVerbergen;
color:white;
border-bottom: 5px solid $kleurVerbergen;
text-shadow: 0px -1px #990000;}