#appel{
    width:100%;
    margin-top: 12%;
    border-style:none;
    
}

figcaption{
    text-align: center;
}
button
{
	
	padding: 2.5 px 10px;
 
    margin-left: 0 ;
  
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;	
    background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9
}
#texttehoog{margin-top:4%;}
#zwangerschap-quote{
    margin-top: 3%;
}

aside {
    color: rgba(0, 0, 0, 0.5);
    font-size: 200%;
    width: 40%;
    float: left;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 50px;
}

