@charset "utf-8";
/* CSS Document */

.animatie{width:10%;
height:10%;
background-image:url(../Images/Marijke/eatme.png);
background-repeat:no-repeat;
background-size:cover;
padding:100px;}


/*animatie cupcake naar wortel*/
@keyframes veranderen { 
	from{
		background-image:url(../Images/Marijke/eatme.png);
		}
	to{
    	background-image:url(../Images/Marijke/carrot.png);
	}
} 

/*wat er gebeurt met de animatie*/
.animatie:hover {
	animation-name:veranderen;
	animation-duration:2s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
}


/*transition toevoegen op nummer 1 van de top 10*/
#winnaar {
	transition: font-size 1s linear 1s;	
}

#winnaar:hover {
	font-size: 50px;
}

