/* Scss Document */

#weegschaal {height: auto;
width:100%;}

//knoppen css
#tonen{background-color: seagreen;
color:white;
border-bottom: 5px solid seagreen;
text-shadow: 0px -1px #006600;

}


#verbergen{background-color: #cc0000;
color:white;
border-bottom: 5px solid #cc0000;
text-shadow: 0px -1px #990000;}