/* Scss Document */

$kleurTonen: seagreen;
$kleurVerbergen: #cc0000;

/*opmaak voor canvas*/
#weegschaal {height: auto;
width:100%;}

/*opmaak voor knop tonen*/
#tonen{background-color: $kleurTonen;
color:white;
border-bottom: 5px solid $kleurTonen;
text-shadow: 0px -1px #006600;
}

/*opmaak voor knop verbergen*/
#verbergen{background-color: $kleurVerbergen;
color:white;
border-bottom: 5px solid $kleurVerbergen;
text-shadow: 0px -1px #990000;}