@charset "utf-8";
/* CSS Document */

body {
	background-color: rgba(0,149,133,0.5)
}

#inhoud {
	background-color: white;
	color: black;
}

nav ul{
	list-style-type: none;
	
}

nav ul li a{
	text-decoration:none;
	display: block;
	float:left;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:20px;
	width:175px;
	padding:15px;
	background-color: yellow;
	color: black;
}

header {
	padding:10px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:15px;
}

section {
	display:block;
}
