@charset "utf-8";
/* CSS Document */

/*animatie pagina voeding*/
@keyframes verdwijnen { 
	to{
    transform:translate(-500px,0px)
	}
} 

.cupcake:hover {
	animation-name:verdwijnen;
	animation-duration:4s;
	animation-timing-function:linear;
	animation-iteration-count:1;
  
}