@charset "utf-8";
/* CSS Document */

.animatie{width:10%;
height:10%;
background-image:url(../Images/Marijke/eatme.png);
background-repeat:no-repeat;
background-size:cover;
padding:100px;}



/*animatie pagina voeding*/
@keyframes verdwijnen { 
	to{
    
	}
} 

.animatie:hover {
	background-image:url(../Images/Marijke/carrot.png);
	animation-name:verdwijnen;
	animation-duration:4s;
	animation-iteration-count:1;
  
}